{% extends 'base.html.twig' %}

{% block body %}
    <div class="row justify-content-md-center">
        <div class="col-6">
            <div class="card">
                <h5 class="card-header">TrustPilot subscription form</h5>
                <div class="card-body">
                    {{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
